<h1>Posts</h1>

<table class="table table-striped table-hover table-bordered">
  <thead class="thread-dark">
    <tr>
      <th>Title</th>
      <th>Body</th>
      <% if current_user %>
      <th>Author</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <% if current_user %>
        <td><%= post.user.name %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
